<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="com.whale.nangua.pumpkingobang"
    xmlns:android="http://schemas.android.com/apk/res/android">

    　　　　
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="南瓜五子棋"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen">
        <activity android:name=".aty.RenjiGameAty">

        </activity>
        <activity android:name=".aty.FindOthersAty">
        </activity>
        <activity android:name=".aty.InitAty">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".aty.BlueToothGameAty"></activity>
    </application>

</manifest>
